/* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */

html {
    scrollbar-gutter: stable;
    width: 100vw;
    overflow-x: hidden;
}

body {
    width: 100%;
    background-image: url(../images/bg-curvy-desktop.svg),
     linear-gradient(
        to bottom,
        hsl(217, 28%, 15%) 0%,
        hsl(217, 28%, 15%) 35%,
        hsl(218, 28%, 13%) 35%,
        hsl(218, 28%, 13%) 85%,
        hsl(216, 53%, 9%) 85%,
        hsl(216, 53%, 9%) 100%
    );
    background-position-y: 22%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 20px;
}

nav a {
    margin-left: 50px;
}

.nav-buttons {
    align-self: center;
    margin-right: 80px;
}

.nav-buttons button {
    border-style: none;
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    font-family: "Raleway", sans-serif;
    
}

.nav-buttons button:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: hsl(0, 0%, 100%);
    margin-bottom: 50px;
}

main img {
    height: 620px;
    margin-bottom: 40px;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 37px;
    margin: 0 auto;
    width: 800px;
    line-height: 50px;
    margin-bottom: 25px;
}

main p {
    width: 650px;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 40px;
}

main button {
    border-style: none;
    border-radius: 30px;
    width: 270px;
    height: 60px;
    background-color: hsl(198, 60%, 50%);
    color: inherit;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

main button:hover {
    background-color: hsl(176, 68%, 64%);
}

.features {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}